* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  background: url('https://cdn.dribbble.com/userupload/36710405/file/original-15a4ee1dede32d3a9a045b360ef17fbd.png?resize=1600x1200&vertical=center') no-repeat center center fixed;
  background-size: cover;
}
